[Unit]
Description=Zabbix Monitor Agent
After=syslog.target network.target

[Service]
Type=forking
ExecStart={{zabbix_home}}/sbin/zabbix_agentd
User={{zabbix_home}}
PrivateTmp=yes

[Install]
WantedBy=multi-user.target